*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
img,
svg {
  display: block;
}
.img-fondo-1{
  background-image: url('https://i.gifer.com/Mg4.gif  ');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}
.img-fondo-2{
  display: flex;
  cursor: crosshair;
  background-image: url('https://m.media-amazon.com/images/I/91fCbayfQZL._SL1500_.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  position: fixed;
  backdrop-filter: brightness(150%) grayscale(210%) invert(100%);
  z-index: 0;
}
.img-fondo-3{
  display: flex;
  cursor: crosshair;
  background-position-x: right;
  background-image: url('https://tienda.eltiempo.com/media/noticias/content_images/crop_970x500_/public/2023-03/38-ghostrider.webp');
  background-repeat: no-repeat;
  background-size: 150% 100%;
  background-attachment: fixed;
  z-index: 0;
}
.img-fondo-4{
  display: flex;
  cursor: crosshair;
  background-position-x: right;
  background-image: url('https://image.cdn2.seaart.ai/2023-10-10/19536289924703237/9af3aa7e820af49055756f3870d669fb17d199a7_high.webp');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  z-index: 0;
}
@keyframes fuego1 {
  from {margin-left: 12%;}to {margin-left: 90%; }
}
.img-fuego {
  height: 35%;
  top: 85%;
  transform: translate(-50%, -50%);
  position: absolute;
  cursor: pointer;
  filter: invert(100%) hue-rotate(90deg);
  animation-duration: 2s;
  animation-name: fuego1;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  z-index: 1;
}
@keyframes fuego2 {
  from {margin-left: 5%;}to {margin-left: 90%; }
}
.img-fuego-2{
  height: 35%;
  top: 83%;
  transform: translate(-50%, -50%);
  position: absolute;
  cursor: pointer;
  animation-duration: 2s;
  animation-name: fuego2;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  z-index: 1;
}
.diablo {
  top: 83%;
  animation-duration: 2s;
  transform: translate(-50%, -50%);
  position: absolute;
  animation-name: fuego2;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  z-index: 3;
}
@keyframes movealeatorio{
  0%{left: 5%;top: 45%;}
  25%{left: 50%;top: 87.5%;}
  50%{ left: 93%; top: 45%;}
  75%{left: 50%; top: 15%;}
  100%{left: 5%; top: 45%;}
}
.img-fuego-3{
  height: 25%;
  transform: translate(-50%, -50%);
  position: absolute;
  cursor: pointer;
  animation-duration: 2s;
  animation-name: movealeatorio;
  animation-iteration-count: infinite;
  z-index: 1;
}
@keyframes rotate-zoom {
  from{
    margin-top: 25%;
    margin-left: 25%;
  }
  to{
    margin-top: 40%;
    margin-left: 25%;
    transform: scale(1.5) rotate(360deg);
  }
}
.flecha{
  position: inherit;
  animation-duration: 4s;
  animation-name: rotate-zoom;
  animation-iteration-count: infinite;
  animation-direction: alternate ;
}
@keyframes moveGato {
  0%{left: 0;top: 0;}
  25%{left: 85%;top: 0;}
  50%{left: 70%;top: 70%;}
  75%{transform: scaleX(-1);left: 0;top: 70%;}
  100%{left: 0;top: 0;}
}
.img-gato {
  height: 30%;
  position: absolute;
  animation-duration: 4s;
  animation-name: moveGato;
  animation-iteration-count: infinite;
  z-index: 1;
}
.p-start{
  text-align: center;
  border-radius: 8px;
  padding: 16px;
  background-color: black;
  color: white;
  z-index: 1;
}
.texto-api{
  font-size: 6;
  font-family: monospace;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  border-radius: 8px;
  padding: 16px;
  backdrop-filter: blur(40px);
  color: rgb(255, 255, 255);
  position: absolute;
  
  z-index: 2;
}
@keyframes escribir {
  from { width: 100% }
  to { width:0 }
}
p span{
  position:absolute;
  right:0;
  width:0;
  backdrop-filter: blur(40px);
  border-left: 2px solid #000;
  animation: escribir 5s steps(30);
}
.boton{
  transform: translate(-50%, -50%);
  margin-left: 50%;
  margin-top: 25%;
  color: rgb(180,251,52);
  background: rgb(188,92,251);
  border-radius: 1em;
  border: 10px solid rgb(75, 35, 103);
  font-size: 200px;
  z-index: 1;
}
.boton:hover{
  background-color: rgb(75, 35, 103);
  border: 10px solid rgb(188,92,251);
}
.circulo {
  height: 85%;
  top:72%;
  left: 52%;
  transform: translate(-50%, -50%);
  position: absolute;
  cursor: pointer;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  z-index: 1;
}
.delfin{
  transform: translate(-50%, -50%);
  position: absolute;
  top: 40%;
  right: -5%;
  z-index: 1;
}
.delfin:hover{
  transform: translate(-50%, -50%) scale(1.4);
}
@keyframes animrana{
  from{transform: rotate(180deg);}to{transform: rotate(180deg) scaleX(-1);}
}
.rana{
  height: 20%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 1;
  animation-name: animrana;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}